div.urlDecoder {
    pre {
        width: 600px;
        text-align: left;
    }
    input {
        width: 500px;
    }
    td.title {
        width: 100px;
    }
    textarea {
        width: 600px;
        height: 200px;
    }
}